<nav
  class="d-flex justify-content-sm-between align-items-center bg-danger text-white"
>
  <h1 routerLink="/">Do-Shop</h1>
  <ul class="d-flex list-unstyled gap-2">
    <li routerLink="/">Home</li>
    <li>Policy</li>
    <li routerLink="/careers">Careers</li>
  </ul>
  <div>
    <button>Login</button>
    <button>Sign Up</button>
  </div>
</nav>
