nav {
  padding: 0rem 10rem;
}

h1 {
  cursor: pointer;
}

ul li {
  padding: 2rem;
  cursor: pointer;
  border-bottom: solid 0.2rem #dc3545;
}

ul li:hover {
  border-bottom: solid 0.2rem white;
}

button {
  padding: 1rem;
  margin-right: 1rem;
  border-style: none;
  border-radius: 1rem;
}
