<footer
  class="d-flex justify-content-sm-between align-items-center bg-danger text-white"
>
  <h1>Do-Shop</h1>
  <div>All Rights Reserved © Sumen Kumar Dubey</div>
  <div>Contacts: +91-7979XXX73X</div>
</footer>
