.fakeStoreImage {
  width: 80%;
}

.allProducts {
  padding: 2rem;
  border-radius: 2rem;
}

.allProducts:hover {
  box-shadow: -2px 0px 58px -21px red;
  cursor: pointer;
}

app-loader {
  margin: 16% 0%;
}
