<app-loader class="{{ loaderClass }}"></app-loader>
<div class="{{ allProductsContainerClass }}">
  <div
    class="allProducts border m-4 w-25"
    routerLink="/product/{{ eachProduct.id }}"
    *ngFor="let eachProduct of productList"
  >
    <h6>{{ eachProduct.category }}</h6>
    <div class="d-flex justify-content-center mb-2">
      <img src="{{ eachProduct.image }}" class="fakeStoreImage" alt="NoImage" />
    </div>
    <h6 class="d-flex justify-content-center mb-2">
      {{ eachProduct.title }}
    </h6>
    <h2 class="text-primary">${{ eachProduct.price }}</h2>
  </div>
</div>
