<div class="eachProductDetailContainer d-flex gap-5">
  <div class="imageContainer border p-4">
    <img
      src="{{ singleProduct.image }}"
      alt="No Image"
      class="singleProductImage"
    />
  </div>
  <div>
    <h2>{{ singleProduct.title }}</h2>
    <h1>${{ singleProduct.price }}</h1>
    <p>{{ singleProduct.description }}</p>
  </div>
</div>
